<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.bytepulse.bp.domain.mapper.ApiCredentialsMapper">

    <select id="selectByApiKeyHash" resultType="cloud.bytepulse.bp.domain.entity.ApiCredentials">
        SELECT *
        FROM api_credentials
        WHERE api_key_hash = #{apiKeyHash}
    </select>
</mapper>