<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.bytepulse.bp.domain.mapper.FileMetadataMapper">

    <update id="deleteBatchByIds" parameterType="java.util.List">
        UPDATE file_metadata
        SET status = 0,
        delete_time = NOW()
        WHERE id IN
        <foreach collection="list" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>
    </update>
</mapper>